<% provide(:title, "Home") %>

<div class="bg-page">    
  <div class="row">
    <div style="margin:20px"> 
      <!-- <h1 style="display:inline-block" id="dashboard-head">Dashboard</h1>          -->
      <h5 id="date"></h5>
      <button style="display:inline-block" type="button" class="new-widget main-btn" href ="#widgetsList"> Add New Widgets </button>
    </div>
  </div>

  <div class="gridly">
  </div>

  <div id="widgetsList" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add widget</h4>
          </div>
          <div class="modal-body">
            <button onClick="addAnimalWidget()" type="button" class="btn btn-info btn-lg">Animals Widget</button>
            <button onClick="addAlertsWidget()" type="button" class="btn btn-primary btn-lg">Alerts Widget</button>
            <button onClick="addUserWidget()" type="button" class="btn btn-warning btn-lg">User Widget</button>
            <button onClick="addStatusWidget()" type="button" class="btn btn-warning btn-lg">Status Count Widget</button>
             <button onClick="addCoorWidget()" type="button" class="btn btn-warning btn-lg">My Assigned Animals</button>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>

    
           

<script>
document.getElementById("date").innerHTML = new Date().toDateString();


 $(".new-widget").on("click", function(){
  $('#widgetsList').modal('show')    
})

loadWidgets();
</script>