<% provide(:title, "Home") %>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div id="page-wrapper">
    <div class = "container-fluid" style="display:flex; flex-flow: row wrap;  justify-content: space-around;">
        <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 "><h1>Dashboard</h1></div>
            <div id="sortable" class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class= "panel panel-default animal-list" widget-type="animal-list" ondrop="drop(event)"></div>
                </div>

                <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class= "panel panel-default user-list" widget-type="user-list"  ondrop="drop(event)"></div>
                </div>

                <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class= "panel panel-default alert-list" widget-type="alert-list"  ondrop="drop(event)"></div>
                </div>

                <div class = "col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class= "panel panel-default animal-list" widget-type="animal-list"  ondrop="drop(event)"></div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="border: dashed; padding: 25px; justify-content: center">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#widgetsList">Add Widget</button>
                </div> 

                <div id="widgetsList" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add widget</h4>
                      </div>
                      <div class="modal-body">
                        <button onClick="addAnimalWidget()" type="button" class="btn btn-info btn-lg">Animals Widget</button>
                        <button onClick="addAlertsWidget()" type="button" class="btn btn-primary btn-lg">Alerts Widget</button>
                        <button onClick="addUserWidget()" type="button" class="btn btn-warning btn-lg">User Widget</button>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    </div>
                  </div>


        <div style = "visibile:false; width: 45% "> </div>
    </div>

</div>

<script>

function saveLayout() {
    var arr = []
    $(".panel").each(function() {
        var type = $(this).attr("widget-type")
        arr.push(type)

    })
    console.log(arr)
}

saveLayout()


function addAnimalWidget() {
    document.getElementById('sortable').innerHTML += "<div class = 'col-lg-6 col-md-6 col-sm-12 col-xs-12'> <div class= 'panel panel-default animal-list' widget-type='animal-list'  ondrop='drop(event)'></div> </div>"
    widgetAnimalList()
}

function addAlertsWidget() {
    document.getElementById('sortable').innerHTML += "<div class = 'col-lg-6 col-md-6 col-sm-12 col-xs-12'> <div class= 'panel panel-default alert-list' widget-type='alert-list'  ondrop='drop(event)'></div> </div>"
    widgetAlertList()
}

function addUserWidget() {
    document.getElementById('sortable').innerHTML += "<div class = 'col-lg-6 col-md-6 col-sm-12 col-xs-12'> <div class= 'panel panel-default user-list' widget-type='user-list'  ondrop='drop(event)'></div> </div>"
    widgetUserList()
}

function drop(event) {
    saveLayout()
}


$(function () {
    $("#sortable").sortable();
    $("#sortable").disableSelection();
});

if($(".animal-list").length > 0) {
    widgetAnimalList();
}
if($(".user-list").length > 0){
    widgetUserList();
}
if($(".alert-list").length > 0){
    widgetAlertList();
}

function widgetAnimalList(){
    $.ajax({url: "animals/query", success: function(result){
        var str = "<div class='panel-heading clearfix'> <div class='btn-group pull-right'> <button class= 'btn toggle-dropdown' data-toggle='dropdown' aria-expanded='false' aria-haspopup='true'> <span class='glyphicon glyphicon-cog'></span> </button> <ul class='dropdown-menu dropdown-menu-right'> <li> <a href='#'>Remove</a> </li> </ul> </div> <h3 class= 'panel-title pull-left' style='padding-top: 8.5px;'> Animals</h3> </div>"

        str += "<div class='panel-body'> <div class='table-responsive'> <table class='table table-bordered table-hover table-striped'> <thead> <tr> <th>Name</th> <th>Primary Breed</th> <th>Secondary Breed</th> </tr> </thead>" 
        for (x in result){
    
                str += "<tr> \
                <td> <a href='/animals/profile?method=get&param=" + result[x].id + "class= 'list-group-item' >" + result[x].name + "</a></td>\
                 <td>" + result[x].primary + "</td>\
                <td>" + result[x].secondary + "</td>\
                </tr>"
        }
        str +=  " </table> </div> <div class='text-right'> <a href= animals>View all Animals</a> </div> </div>"

         $(".animal-list").each(function(){
            $(this).html( str)
         })
    }});
}

function widgetUserList(){
    $.ajax({url: "people/query", success: function(result){
        var str = "<div class='panel-heading clearfix'> <div class='btn-group pull-right'> <button class= 'btn toggle-dropdown' data-toggle='dropdown' aria-expanded='false' aria-haspopup='true'> <span class='glyphicon glyphicon-cog'></span> </button> <ul class='dropdown-menu dropdown-menu-right'> <li> <a href='#'>Remove</a> </li> </ul> </div> <h3 class= 'panel-title pull-left' style='padding-top: 8.5px;'> Users</h3> </div>"

        str += "<div class='panel-body'> <div class='table-responsive'> <table class='table table-bordered table-hover table-striped'> <thead> <tr> <th>Name</th> <th>Email</th> </tr> </thead>" 

        for (x in result){
    
                str += "<tr> \
                <td> <a href='/people/profile?method=get&param=" + result[x].id + "' > " + result[x].name + "</a></td>\
                 <td>" + result[x].email + "</td>\
                </tr>"
        }
        str +=  " </table> </div> <div class='text-right'> <a href= people>View all Users</a> </div> </div>"

         $(".user-list").each(function(){
            $(this).html( str)
         })
    }});
}

function widgetAlertList(){
    $.ajax({url: "/alerts/query", success: function(result){
        var str = "<div class='panel-heading clearfix'> <div class='btn-group pull-right'> <button class= 'btn toggle-dropdown' data-toggle='dropdown' aria-expanded='false' aria-haspopup='true'> <span class='glyphicon glyphicon-cog'></span> </button> <ul class='dropdown-menu dropdown-menu-right'> <li> <a href='#' class='remove-item-btn'>Remove</a> </li> </ul> </div> <h3 class= 'panel-title pull-left' style='padding-top: 8.5px;' <h3 class= 'panel-title'> Alerts</h3> </div>"

        str += "<div class='panel-body'> <div class='table-responsive'> <table class='table table-bordered table-hover table-striped'> <thead> <tr> <th>Title</th> <th>Date</th> </tr> </thead>" 

        for (x in result){
    
                str += "<tr> \
                <td> <a> " + result[x].title + "</a></td>\
                 <td>" + result[x].date + "</td>\
                </tr>"
        }
        str +=  " </table> </div> <div class='text-right'> <a href= alerts>View all Alerts</a> </div> </div>"

         $(".alert-list").each(function(){
            $(this).html( str)
         })
    }});
}

$('.remove-item-btn').on('click', function() {
    $(this).closest('div').remove()
})


</script>