<% provide(:title, "Home") %>

      
      <div class="row" style="padding-top:20px;">
        <div class="col-md-3"> <h1 id="dashboard-head">Dashboard</h1> </div>
      </div>
   

      <div class="gridly">
        <div class="brick small">Widget 1</div>
        <div class="brick small">Widget 2</div>
        <div class="brick large">Widget 3</div>
        <div class="brick small">Widget 4</div>
        <div class="brick small">Widget 5</div>
        <div class="brick large">Widget 6</div>
      </div>


    
           

<script>
  $('.gridly').gridly();
</script>