
<p style = "font: italic bold 12px/30px Georgia, serif;"> Dear <%= @user.name  %>, </p>

<p>

This is an automated email from Releash Atlanta to activate your account.  <br> <br>

<%= @current_user.name %> from Releash Atlanta has created an account for you. <br> <br>

Click on the button to activate your account. <br> <br><br> 


<a  href = '<%= edit_account_activation_url(@user.activation_token, email: @user.email)%>'><img src="https://qph.ec.quoracdn.net/main-qimg-aeff6760f5046c93b3845c9d9b9b6ab8" alt="Activate" ></a>


<br><br>
Sincerely, <br>
iShelter Team
</p>

