<% provide(:title, "People") %>
<h1>People</h1>

<%= link_to "<button>Add Employee</button>".html_safe,  :controller => "people", :action => "new", :method => "get" %>
<div class=" ">
<% @allPeople.each do |a| %>
  name = <%= a.name %> 
  |
  role = <%= a.role.title %>


  <br>

<% end %>
</div>
