<!-- comment -->
<% provide(:title, "Animals") %>
<h1>Animals</h1>


<% if employee?(current_user) %>
<%= link_to "<button>Add Animal</button>".html_safe,  :controller => "animals", :action => "new", :method => "get" %>
<% end %>

    <br><br>

    <div class = "filters col-md-3" style = "border-radius:1px; border:solid; margin:5px"> 
    <p> Name:  </p> <input type = "text" id = "filter-name"/>

    <p> Age: <span id = "age-min"></span>-<span id = "age-max"> </span> </p>
     <div id="age_slider"></div>


    <button id = "generate-button">Filter Animals</button>
    </div>

    <div id = "animals-list" class = "col-md-8" > 

    </div>

  
     

</div>

<script>
var slider = $("#age_slider").slider({
        range: true,
        min: 0,
        max: 25,
        values: [0, 25],
        slide: function(event, ui) {
            $("#age-min").text(ui.values[0]);
            $("#age-max").text(ui.values[1]);
        }
    });
$("#age-min").text(slider.slider("values")[0]);
$("#age-max").text(slider.slider("values")[1]);
    



$(".list-card").hover(
  function(){
    $(this).find(".glyphicon-pencil").show()
  },
  function(){
    $(this).find(".glyphicon-pencil").hide()
  }
)

function generateAnimalsList(){
  params = {};
  params.name = $("#filter-name").val();
  params.age_min = $("#age-min").text()
  params.age_max = $("#age-max").text()

  console.log(params)
  $.ajax({
    url: "animals/query",
    data: params,
    success: function(result){
      var str = "<table class='table table-bordered table-hover table-striped'> <thead> <tr> <th>Name</th> <th>Primary Breed</th> <th>Age</th> </tr> </thead>" 
        for (x in result){
    
                str += "<tr> \
                <td> <a href='/animals/profile?method=get&param=" + result[x].id + " '  >" + result[x].name + "</a></td>\
                 <td>" + result[x].primary + "</td>\
                <td>" + result[x].age + "</td>\
                </tr>"
        }
        str +=  " </table>"

        $("#animals-list").html(str);
        console.log("done");


    },
  });

  
}
$("#generate-button").on("click", function(){
  generateAnimalsList();
})
generateAnimalsList();
</script>

