<!-- comment -->
<% provide(:title, "Animals") %>
<h1>Animals</h1>


<%= link_to "<button>Add Animal</button>".html_safe,  :controller => "animals", :action => "new", :method => "get" %>
<div class=" ">


<% @allAnimals.each do |a| %>
<%= display_avatar(a, "50x50") %>

  name =  <%= a.name %> 
  |
  type = <%= a.species.kind %>
  <br>
<% end %>
</div>
