<!-- comment -->
<% provide(:title, "Animals") %>
<h1>Animals</h1>


<% if employee?(current_user) %>
<%= link_to "<button>Add Animal</button>".html_safe,  :controller => "animals", :action => "new", :method => "get" %>
<% end %>

<div class = "container">
   
  <div id = "list">

  </div>
</div>

<script>

$.ajax({url: "animals/query", success: function(result){
        generateList(result);

    }});


function generateList(arr){
  str = ""
  console.log(arr)
  for (i in arr){
    str += "<div>" + arr[i].name + " " +  arr[i].primary + "</div>";
  }
  $("#list").html(str);
}

$(".list-card").hover(
  function(){
    $(this).find(".glyphicon-pencil").show()
  },
  function(){
    $(this).find(".glyphicon-pencil").hide()
  }
)
</script>