<% provide(:title, "Home") %>

      
      <div class="row" style="padding-top:20px;">
        <div class="gridly-container">
             <div class="gridly">
        </div>

      
        
      </div>
      </div>

           
<style>
.body-wrapper{
    text-align: center;
}
.green{
    background-color:lightgreen;
}
.red{
    background-color:IndianRed;
}
.orange{
    background-color:PeachPuff ;
}
.purple{
    background-color:PaleVioletRed ;
}
.blue{
    background-color:lightblue;
}
.page-link{
    width:80%;
    margin:10px;
    padding:10px;
    border-radius:10px;
}
.title{
    margin:20px; 
    text-align:center;
}
</style>

<script>
 
  loadWidgetsMobile();
  
</script>