<div class="row">
  <div class="col-xs-12" id="top-nav" style="background-color:#aaa; height:40px;">
    <%#= render 'layouts/header' %>

      <span class="glyphicon glyphicon-large glyphicon-menu-hamburger" aria-hidden="true" style = "font-size: 40px; position:absolute"></span>

    <p style="font-size: 30px; position:absolute;width:100%; text-align:center; line-height:40px"> ShelterBooks </p>
  </div>
</div>