
  <div id="top-nav" style="background-color:#aaa; height:30px; width:100%">
    <%#= render 'layouts/header' %>

      <span class="glyphicon glyphicon-large glyphicon-menu-hamburger" aria-hidden="true" style = "font-size: 30px; position:absolute"></span>

    <p style="font-size: 30px; position:absolute;width:100%; text-align:center; line-height:30px"> ShelterBooks </p>
  </div>