// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Style for new & edit pages & profile
.pg-title {
    text-align: right;
    font-size: 24px;
}

#pic-preview {
    width: 150px;
    height: 200px;
    border: dotted #bababa;
    background: transparent;
    border-radius: 3px;
}


.profile-file {
    width: 150px;
    height: 200px;
    border: black;

}

.inner-formdiv {
    width: 100%;
    padding: 20px;
    border: solid #f0f0f0;
    border-width: 1px;
    overflow: auto;
}

.form {
    display: inline-block;
    width:100%;
    padding: 0px;
    border-width: 5px;
}

.form-div {
    border: solid #f0f0f0; 
    padding: 5px;
    border-width: 1px;
}

.add-btn {
    width: 30%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



//Style for list page
.list-card {
    border-radius: 10px;
    border:solid #e8e8e8;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    margin-left: 5px;
}

.list-pic {
    padding: 5px;
}

.list-info {

}

.textbox-filter{
    width: 10%;
}