
.brick.small {
    width: 140px;
    height: 140px;
  
}
.brick.large {
    width: 400px;
    height: 400px;
}
.brick{
    border: solid;
    background-color:white;
}
.gridly{
    position:relative;
    width: 100%;

}
.panel-heading{
   background-color:lightgray ;
   position:relative;

}
.remove-item-btn{
    position:absolute;
    right:0px;
    top:0px;
}
.panel-title{
    position:relative
}


/* Navs*/

#side-nav {
    background-color: white;
    position: fixed;
    height: 100vh;
    text-align: left;
}

#top-nav {
    position:fixed;
    background-color: white;
    margin-bottom: 5%;
    z-index: 2;

}

.content-body {
    background-color: #f3f3f3;
    margin-left: 200px;
    min-height: 100vh;
}

#page-render {
    margin-top: 50px;
}
