@import 'set-style';



/*Background for all pages */
body {
    background-color: $bg-color;
}

.bg-page {
    min-height: 100vH;
}

#page-render {
    background-color: $bg-color;
    padding: 30px;
    min-height: 100vH;
}



/* Widgets */
/*.content-body{margin:4px;
}*/

.brick{
    border: $shrt-border $widgetbody;
    border-radius: 3px;
    background-color: $widgetbody;
    box-shadow: $shadow;
}
.gridly{
    position:relative;
    margin:auto

}

.brick.small { @include square(140px); }
.brick.large { @include square(320px); }
.brick.mobile {
    width: 100%;
    height: 350px;
}

.brick.small.collapsed, 
.brick.large.collapsed, 
.brick.mobile.collapsed{
    height: 40px;
}




.panel-heading{
   background-color: $widgethead;
   border-bottom: $border;
   position: relative;
   height:15%;

}
.panel-body{
   background-color: $widgetbody;
   border-bottom: $border;
   position: relative;
   height:75%;

}
.remove-item-btn{
    position: absolute;
    right:0px;
    top:0px;
}
.panel-title{
    position:relative
}
.table-responsive{
    overflow-y: scroll;
    height:100%;
}
.panel-footer{
    padding:0px;
    margin:auto;
    float:center;
    text-align:center;
    width:95%;
    height:7%;
    margin:3px;
    background-color: $widgetbody;
}


/* Navs*/

#side-nav {
    background-color: $navcolor;
    box-shadow: 0px 2px 1px $navcolor;
    position: fixed;
    text-align: left;
    z-index: 2;
    color: #fff;
    width:210px;
    height: 100vh;
    margin:0px;
    padding:0px;
}

.sidebar-nav {
    padding: 0px;
    margin: 0px;

    li {
        list-style: none;
        text-decoration: none;
        display: block;
        color: #fff;
        padding: 5%;
    }

    li a {
        color: #fff;
        font-weight: 200;
        font-size: 1.1em;
        text-decoration: none;
        margin-left: 20px;

    }

    li:hover {
        background-color: $navselect;
        text-decoration: none;

    }
}


.current {
    background-color: orange;
}


#top-nav {
    box-shadow: 0px 1px 1px #4A494B;
    background-color: $navcolor;
    position:fixed;
    top:0px;
    z-index: 1;
    width: 100%;
    margin: 0px;

}

.content-body {
    background-color: #f3f3f3;
    margin-left: 210px;
    min-height: 100vh;
    padding:0px;
    margin-top:0px;
    width:auto;
}

/*Search*/
#search-wrap {
    position:relative;
    background-color: white;
    width:500px;
    height:40px;
    display:inline-block;
    vertical-align:center;
}

#search-input {
    width: 450px;
    line-height:38px;
    border:none;
}

.search-list {
    border:solid black 1px;
    z-index:3000;
    background-color:white;
}

#page-render {
    margin-top: 40px;
}

#page-render-mobile {
    margin-top: 50px;
}