// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'set-style';

body {
    font-weight: 400;
    color: #4A4A4A;
    font-size: 1.4em;
}


#login-pg {
    background-color: #fbfbfb;
    height: 100vH;
}

#login-container {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 1px #979797;
}

.row {
    margin-bottom: 20px;
}

input[type=checkbox] {
  display: inline;
}

.check {
    padding: 0px;
    display: inline-block;
    margin-bottom: 10px;
}

#lg-row {
    margin: 20px;
}

.line-form {
    border: none;
    border-bottom: 1px solid #979797;
    font-weight: 400;
    font-size: 1.0em;
    margin-top: 5px;
}

.line-form.pass {
    margin-bottom: 0px;
}

.line-form.link {
    font-size: 0.9em;
    color: #9b9b9b;
    border: none;
}



.logo-textdiv {
    margin-top: 20px;
    margin-bottom: 10px;
}

.logo-textdiv img {
    width: 100px;
    margin: 0 auto;
}


#login-content h5 {
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 0px;
}

#login-content p {
    font-size: 1em;

}


#login-title {
    font-weight: 800;
    font-size: 2.0em;
    margin: 0 auto;
}

#login-btn {
    margin-bottom: 30px;
}


