/* This file contains uniform scss form variables to be used in whole application */

/*GENERAL COLOR SCHEME*/
$black: #e1e1e1; /*profile names*/
$blue : #2980b9;


/* Dark Greys */
$deep-grey: #363536;
$drk-grey: #4A494B;
$md-grey: #9C9898;

/* Light Greys */
$neutral: #e1e1e1;
$bg-lightgrey: #f8f8f8;
$border-lightgrey: #c3cccc;

/* Whites */
$bg-color: #FBFBFB;
$pg-color: #fff;



/* COMPONENT COLORS */
$navcolor: #4A494B;
$navselect: #363536;
$navfocus: #363536;

$btn-border: #9C9898;

$widgethead: var($pg-color);
$widgetbody: var($pg-color); 

$border: 1px solid #f3f3f3;
$shrt-border: 1px solid;
$shadow: 0px 1px 1px #9b9b9b;

@mixin square($length) {
    width: $length;
    height: $length;
}

@mixin dimension($width, $height) {
    width: $width;
    height: $height;
}







