
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style = "display: inline-block; margin-right: 5px" class="modal-title"></h4><span class = "modal-edit"></span>
      </div>

      
      <div class="modal-body">
          <div class = "modal-div">
             <span class="modal-created-by"></span>
          </div>

          <div class = "modal-div">
           <span class="modal-assignees"></span>
          </div>

          <div class = "modal-div">
           <span class="modal-animals"></span>
          </div>

          <div class = "modal-div">
            <span class="modal-date"></span>
          </div>

          <div class = "modal-div">
            <span class="modal-location"></span>
          </div>

          <div class = "modal-div">
            
            <div class = "modal-description"> </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger alert-unsubscribe" >Unsubscribe</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>

  </div>
</div>
<script>
function bindAlertsModal(){
  $(".alert-event").on("click", function(){
  event.preventDefault()
  var id = $(this).attr('id').split("-")[1]
  
  //do the ajax call then update findings

   $.ajax({
    url: "/alerts/query",
    data: {"id": id},
    success: function(result){

        $(".modal-title").text(result["title"])
        $(".modal-created-by").html("Created by: " + generateUsers(result["created_by"]))

        if(result["date"] != null){
          $(".modal-date").text("date: " + result["date"])
        }

        if(result["description"] != null){
          $(".modal-description").html("Description: <br>" + result["description"])
        }

        if(result["location"] != null){
          $(".modal-location").text("Location: " + result["location"])
        }

        if(result["animals"].length > 0){
           $(".modal-animals").html("Animals: " + generateAnimals(result["animals"]))
        }
        if(result["users"].length > 0){
          $(".modal-assignees").html("Assignees: " + generateUsers(result["users"]))
        }
        if((result["id"] + "").length > 0){
          $(".alert-unsubscribe").attr("id", "Unsubscribe-" + result["id"])
        }
        console.log(result)
        if(result["assigned"]){
          $(".alert-unsubscribe").show();
        }
        else{
          $(".alert-unsubscribe").hide();
        }
        checkEditable(result["user_id"], result["created_by"][0].id, result["id"])

        $('#myModal').modal('toggle');
    },
    error: function(){
      console.log("failed")
    }
  });
   console.log("ajax called")
  
})
}
$(".alert-unsubscribe").on("click", function(event){
  event.preventDefault()
  $.ajax({
    type: "POST",
    url: "/alerts/unsubscribeAlert",
    data: "param=" + $(this).attr("id").split("-")[1],
    success: function(msg){
        location.reload();
    },
    error: function(e){
      alert("unable to delete alert")
      console.log(e);
    }
  });
});
</script>
