<div style="width:100%; background-color:#ddd; border-bottom:solid black 1px; margin:0px;" >

  
            
    <div style="position:relative; background-color:white; width:500px; height:40px; display:inline-block; vertical-align:center ">

              <span class = 'glyphicon glyphicon-search search-child' style = "display: inline-block; font-size: 18px;padding-left:10px; padding-right:10px; margin-right:0px; margin-top:auto; margin-bottom:auto;" ></span> 

              <input style = " width: 450px; line-height:38px; border:none" placeholder="Search" class ="search" /> 
            </div>            
            <div class = "search-result" style="position:absolute; width:500px; top:40px;">
            </div>
    </div>


</div>


<script>
$(".search").on( "keyup",function(input){
  var value = $(this).val()
  //do the ajax call then update findings
   $.ajax({
    url: "/animals/search",
    data: {q: value},
    success: function(result){
        var str = " "
        str += "<table class='table search-list'>" 
        for (x in result){
                if (result[x].check == "animal") {
                  str += "<tr> \
                  <td>  <img src='"+ result[x].picture.picture.url+ "' alt='missing picture' style='width:50px;height:50px;'></td>\
                  <td> <a href='/animals/profile?method=get&param=" + result[x].id + "' onmousedown='link(event)'> " + result[x].name + " </a></td>\
                   <td>" + result[x].attribute + "</td>\
                  </tr>"
                }
                if (result[x].check == "user") {
                  str += "<tr> \
                    <td>  <img src='"+ result[x].picture.picture.url+ "' alt='missing picture' style='width:50px;height:50px;'></td>\
                    <td> <a href='/people/profile?method=get&param=" + result[x].id + "' onmousedown='link(event)'> " + result[x].name + " </a></td>\
                     <td>" + result[x].attribute + "</td>\
                    </tr>"
                }
        }
        str +=  " </table>"
         $(".search-result").html( str)
    
    }});
   $(".search").on( "blur", function(target){
       $(".search-result").html( '')

   } )
})
function link(e) {
  $(e.target).trigger("click")
 
  window.location.href = $(e.target).attr("href"); 
}
</script>