<nav class="navbar navbar-default navbar-fixed-top">
  <ul class="nav navbar-nav">
    <li class="main"><a href="/home">Dashboard</a></li>
    <li><a href="/animals">Animals</a></li>
    <li><a href="/people">People</a></li>
    <li><a href="/alerts">Upcoming Events</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>