<div class="container" id="side-nav">
              <h1 style="text-align:center"> ShelterBook </h1>
              <ul class="sidebar-nav">
                <li><a href="/home">Dashboard</a></li>
                <li><a href="/animals">Animals</a></li>
                <li><a href="/people">People</a></li>
                <li><a href="/alerts">Upcoming Events</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
          </div>